* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar ul li {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  transition: all 0.3s ease;
}

.navbar ul li:hover {
  font-weight: 700;
  color: #46a358;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right i {
  font-size: 20px;
}

.nav-right .cart {
  position: relative;
}

.nav-right .cart span {
  position: absolute;
  top: -5px;
  left: 12px;
  background: #46a358;
  color: white;
  border: 1px solid white;
  padding: 2px 5px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
}

.nav-right button {
  display: flex;
  align-items: center;
  gap: 7px;
  background: #46a358;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: 0;
  border-radius: 6px;
  padding: 7px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-right button:active {
  transform: scale(0.8);
}

.nav-mobile-links {
  display: none;
}

.home {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background: #f5f5f580;
  padding: 10px 50px;
}

.home .left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home .left-side h2 {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.home .left-side h1 {
  color: #3d3d3d;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  width: 550px;
  margin: 5px 0;
}

.home .left-side p {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 520px;
  margin-bottom: 20px;
}

.home .left-side button {
  background: #46a358;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home .left-side button:active {
  transform: scale(0.8);
}

.home .right-side {
  position: relative;
}

.home .right-side img:first-child {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.products {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 50px;
  margin: 50px auto;
}

.products .top {
  display: flex;
  align-items: center;
  gap: 25rem;
}

.products .top ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.products .top ul li,
.products .top p {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

.products .top ul li:hover {
  color: #46a358;
  font-weight: 700;
}

.products .middle {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.products .middle .card {
  position: relative;
  height: auto;
  width: 275px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in;
}

.products .middle .card:hover {
  box-shadow: 0 0 20px #46a358;
}

.products .middle .card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-top-left-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #46a358;
  color: white;
}

.products .middle .card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.products .middle .card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  font-size: 20px;
  background: #46a358;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
}

.products .middle .card h2 {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}

.products .middle .card .price-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.products .middle .card .price {
  color: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.products .middle .card del {
  color: #a5a5a5;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.products .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products .bottom button {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  color: #3d3d3d;
  font-size: 18px;
  line-height: 16px;
  font-weight: 300;
  background: white;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.products .bottom button:hover {
  background: #46a358;
  color: white;
}

.products .bottom button:active {
  transform: scale(0.8);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  margin: 100px 0;
}

.about .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 530px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px #46a358;
}

.about .card img.flower {
  position: relative;
  z-index: -2;
  width: 250px;
}

.about .card img.decoration {
  position: absolute;
  width: 620px;
  left: -50px;
  z-index: -1;
}

.about .card .des h1 {
  font-size: 20px;
  line-height: 100%;
  color: #46a358;
}

.about .card .des p {
  font-size: 14px;
  line-height: 20px;
  width: 250px;
  margin: 10px 0;
}

.about .card .des button {
  background: #46a358;
  color: white;
  border: 0;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about .card .des button:active {
  transform: scale(0.8);
}

.blog {
  text-align: center;
  margin: 100px 0;
}

.blog h1.main-heading {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  margin-bottom: 10px;
}

.blog p.main-content {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.blog-cards .card {
  background: #fbfbfb;
  width: 268px;
}

.blog-cards .card .info {
  padding: 20px;
  text-align: left;
}

.blog-cards .card .info span {
  color: #46a358;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.blog-cards .card .info h1 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.blog-cards .card .info p {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 220px;
  margin-bottom: 10px;
}

.blog-cards .card .info button {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

footer {
  margin: 50px auto;
}

.footer {
  background: #fbfbfb;
}

.cols-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.mid-border {
  border-left: 1px solid #46a3581a;
  border-right: 1px solid #46a3581a;
  padding-left: 30px;
}

.cols-1 .plant h2 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 10px 0;
}

.cols-1 .plant p {
  color: #727272;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 200px;
}

.cols-1 .join h3 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  width: 300px;
}

.join .email-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px #0000000f;
  background: #ffffff;
  margin: 15px 0;
  border-radius: 6px;
}

.join .email-form input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #acacac;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.join .email-form button {
  color: white;
  background: #46a358;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  border: 0;
  padding: 15px 25px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.join p {
  color: #727272;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  width: 345px;
}

.cols-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background: #46a3581a;
  padding: 30px;
}

.cols-2 p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3d3d3d;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.cols-2 p:nth-child(2) {
  width: 200px;
}

.cols-2 p i {
  color: #46a358;
  font-size: 20px;
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
}

.cols-3 ul h1,
.cols-3 .social-media h1 {
  color: #3d3d3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 10px;
}

.cols-3 .social-media .socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.cols-3 .social-media .socials img {
  border: 1px solid #46a35833;
  border-radius: 4px;
  padding: 10px;
}

.cols-3 ul li {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

footer p.reserved {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    margin: 0 20px;
  }

  .navbar ul {
    display: none;
  }

  .nav-mobile-links {
    display: flex;
    justify-content: space-between;
    background: #46a358;
    color: white;
    padding: 10px 20px;
  }

  .home {
    margin: 50px 0;
    grid-template-columns: 1fr;
  }

  .home .left-side h1 {
    font-size: 40px;
    line-height: 40px;
    width: 350px;
  }

  .products {
    align-items: center;
  }

  .products .top {
    gap: 7rem;
  }

  .products .middle {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .about {
    justify-items: center;
    gap: 0;
  }

  .about .card {
    text-align: center;
    flex-direction: column;
    width: 250px;
  }

  .about .card img.decoration {
    display: none;
  }

  .blog-cards {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .blog-cards .card {
    margin-bottom: 50px;
  }
}

/* responsive for Mobile */
@media (max-width: 480px) {
  .navbar {
    justify-content: space-around;
  }

  .navbar ul {
    display: none;
  }

  .nav-mobile-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #46a358;
    color: white;
    padding: 10px 0;
  }

  .home {
    margin: 50px 0;
    grid-template-columns: 1fr;
  }

  .home .left-side h1 {
    font-size: 30px;
    line-height: 30px;
    /* width: 350px; */
  }

  .home .left-side p {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 200px;
    margin-bottom: 20px;
  }

  .home .right-side img:first-child {
    position: absolute;
    bottom: 20px;
    left: -20px;
  }

  .home .right-side img:last-child {
    width: 300px;
  }

  .products .top {
    flex-direction: column;
    gap: 1rem;
  }

  .products .middle {
    grid-template-columns: 1fr;
  }

  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
  }

  .about .card {
    text-align: center;
    flex-direction: column;
    width: 250px;
  }

  .about .card img.decoration {
    display: none;
  }

  .blog .main-content {
    margin: 30px;
  }

  .blog-cards {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
